@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Variables and mixins declared here will be available in all other SCSS files */
:root {
  --white: #ffffff;
  --primary: #171717;
  --secondary: #737373;
  --disabled: #dadada;
  --orange: #ff751b;
  --gradient-blue: linear-gradient(139deg, #36bffa 0%, #1570ef 47%, #065986 100%);
  --gradient-orange: linear-gradient(135deg, #ff751b 0%, #ff8e37 17.03%, #f05306 100%);
  --gradient-orange-one: linear-gradient(135deg, #F05306 0%, #FF8E37 37.26%, #FF751B 100%);
  --gradient-orange-two: linear-gradient(135deg, #f05306 0%, #ff8e37 85.51%, #ff751b 100%);
  --shadow01: 0px 1.0515574216842651px 2.2138051986694336px 0px rgba(0, 0, 0, 0.02),
    0px 2.527038812637329px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 4.758189678192139px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 8.487797737121582px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 15.87549114227295px 33.422088623046875px 0px rgba(0, 0, 0, 0.05), 0px 38px 80px 0px rgba(0, 0, 0, 0.07);
}

@keyframes buttonBackgroundAnimation {
  0% {
    background: var(--gradient-orange);
  }
  50% {
    background: var(--gradient-orange-one);
  }
  100% {
    background: var(--gradient-orange-two);
  }
}
* {
  margin: unset;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}
* body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-blue);
  height: 100vh;
}

.container {
  display: grid;
  gap: 12px;
  padding: 40px 48px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  border: 1px solid var(--disabled);
}
.container .heading {
  text-align: center;
}
.container .heading h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.container .heading p {
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary);
}
.container .input {
  display: grid;
  gap: 4px;
  width: 480px;
}
.container .input input {
  padding: 8px;
  border: unset;
  width: 100%;
  border-bottom: 1px solid var(--disabled);
}
.container .input input::-moz-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--disabled);
}
.container .input input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--disabled);
}
.container .input .buttonFill, .container .input .action .buttonStroke {
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  border: unset;
  color: var(--white);
  background: var(--gradient-orange);
  flex-grow: 1;
  transition: 0.5s;
}
.container .input .buttonFill:hover, .container .input .action .buttonStroke:hover {
  cursor: pointer;
  transition: 0.5s;
  background: var(--gradient-orange-two);
}
.container .input .action {
  display: flex;
  gap: 4px;
}
.container .input .action .buttonStroke {
  color: var(--secondary);
  background: var(--white);
  border: 1px solid var(--secondary);
}
.container .input .action .buttonStroke:hover {
  background: var(--secondary);
  color: var(--white);
  box-shadow: unset;
  transition: 0.4s;
}
.container .output {
  display: grid;
  gap: 8px;
  /* ---------------- */
}
.container .output .heading {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid var(--disabled);
}
.container .output .heading .buttonGroup {
  display: flex;
  gap: 0;
}
.container .output .heading .buttonGroup button {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 4px 12px;
  border: unset;
  background: var(--white);
  color: var(--disabled);
  height: -moz-fit-content;
  height: fit-content;
}
.container .output .heading .buttonGroup .selected {
  color: var(--primary) !important;
  border-bottom: 2px solid #ff751b;
}
.container .output .heading p {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  align-self: center;
}
.container .output table {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--disabled);
}
.container .output tr {
  display: flex;
  width: 100%;
  max-width: 480px;
  padding: 8px 0;
  gap: 8px;
}
.container .output td {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
  display: flex;
}
.container .output .taskContent {
  width: 100%;
}
.container .output .col2 {
  display: flex;
  gap: 4px;
}
.container .output .col2 button {
  background: unset;
  border: unset;
}
.container .output .col2 .editHover:hover svg path {
  stroke: #1570ef;
}
.container .output .col2 .deleteHover:hover svg path {
  stroke: #d92d20;
}
.container .output .col2 :hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.container .output .output {
  display: grid;
}
.container .output .finish {
  margin-top: 24px;
  justify-content: flex-end;
  display: flex;
  gap: 4px;
}
.container .output .finish .optionalButton {
  background: #e0e0e0;
  border-radius: 4px;
  color: var(--primary);
}
.container .output .checked .taskContent {
  transition: 1s;
  color: var(--disabled);
  text-decoration-line: line-through;
}
.container .output .checked .col2 button svg path {
  stroke: #dadada !important;
}/*# sourceMappingURL=app.css.map */